@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=PT+Serif:wght@400;700&family=Roboto:wght@300;400;500;700;900&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
  background: url("../img/rain_bk2.png");
  background-repeat: repeat;
}

h1 {
  font-size: 36px;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* header */

.burger-menu {
  display: none;
}

header {
  width: 100%;
  padding: 30px;
  background-color: #181818;
  display: flex;
  justify-content: flex-end;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.menu-item {
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

#quiz-brain {
  display: none;
  width: 48px;
  margin: 0 9px;
}

#menu-title {
  display: none;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffc700;
  margin-top: 18px;
}

/* banner */

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 27px 27px 0;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-image: radial-gradient(circle, #144bf13e, transparent 60%);
}

.banner-container img {
  max-width: 300px;
}

h1 {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffc700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-title {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 27px;
}
.banner-text,
.banner-text-color {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  max-width: 286px;
  text-align: center;
}
.banner-text-color {
  margin-top: 22px;
}
.banner-text-color,
.footer-text-color {
  color: #ffc700;
}

.banner-text {
  margin-bottom: 11px;
}

.banner-text-more {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 3px;
  cursor: pointer;
}

.banner-text-btn {
  background: none;
  border: none;
  color: #fff;
}

.banner-btn {
  margin: 22px auto 0;
  width: 189px;
  height: 41px;
  background-color: #ffc700;
  border-radius: 20px;
  border: none;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0d0c11;
  cursor: pointer;
}

/* quote section */

.quote-container {
  margin: 0 auto;
  padding: 43px 22px 30px;
  position: relative;
  background-image: radial-gradient(
      84.34% 50.29% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    ),
    url("../img/image.png");
  background-repeat: repeat-y;
  background-size: 100%;
  height: 53vh;
}

.quote {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 65px auto;
  max-width: 800px;
}

.quote-container img {
  width: 23px;
  height: 22.35px;
}
.quote-img {
  position: absolute;
  transform: rotate(-180deg);
  right: 32px;
}

/* info section */
.info-section {
  background-color: #fff;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 27px;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.info-container img {
  margin-top: 35px;
  width: 500px;
}

.info-text {
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #272727;
  font-family: "PT Serif";
  font-weight: 400;
}

/* footer */

footer {
  position: relative;
}

footer > img {
  position: absolute;
  width: 165px;
  height: 165px;
  z-index: 0;
}
.lightning-img1 {
  right: 0;
  top: 0;
}
.lightning-img2 {
  transform: scaleX(-1);
  left: 0;
  bottom: 0;
}

.footer-container {
  margin: 0 auto;
  max-width: 800px;
  height: 420px;
  text-align: left;
  position: relative;
}

.footer-container > p {
  max-width: 500px;
  margin-top: 56px;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.footer-text {
  display: block;
  background: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
  padding: 30px 14px;
  margin: 14px 0 33px;
  position: absolute;
  z-index: 1;
  overflow: auto;
  max-height: 80px;
}
.footer-text p {
  display: block;
  font-family: "Merriweather";
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #181818;
}

.footer-btn {
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  top: 250px;
  right: 290px;
  width: 200px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}

.card {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.card.expand {
  max-height: none;
}

/* IQ test app */

#test {
  display: none;
  height: 100vh;
}

.quiz-container {
  display: none;
  text-align: center;
  padding: 17px 0 25px;
}

#progress-bar {
  width: 80%;
  height: 11px;
  background-color: #f2f3f37d;
  margin: 0 auto;
  position: relative;
  border-radius: 10.5px;
}

#progress {
  height: 100%;
  background-color: #3bde7c;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.2s ease-in-out;
  border-radius: 10.5px;
}

#question {
  font-size: 28px;
  font-family: "PT Serif";
  font-weight: 400;
  margin: 100px 10px 38px;
}

.quiz-container button {
  width: 189px;
  height: 41px;
  background: #ffc700;
  color: #0d0c11;
  border-radius: 20px;
  border: none;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.quiz-container button:hover {
  background: #dadada;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #8e8e8e;
}
#choices label {
  display: block;
  text-align: left;
  font-size: 24px;
  width: 60%;
  color: #fff;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.choices-container {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 6px 0;
  margin: 8px auto;
  display: flex;
  flex-direction: row-reverse;
  max-width: 800px;
}

.choices-container-color {
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: block;
}

.color-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  max-width: 300px;
  margin: 0 auto;
}
input[type="radio"].color-square {
  width: 75px;
  height: 75px;
  border-radius: 0%;
  border: 0;
  margin: 0;
}

input[type="radio"]:focus.color-square {
  border: 6px solid #ffc700;
}

#choices .color-label:active {
  background-color: transparent;
}

input[type="radio"] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 50%;
  float: left;
  margin-right: 39px;
}

input[type="radio"]::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
}

input[type="radio"]:focus,
input[type="radio"]:active {
  border: max(1px, 0.15em) solid #272727;
  background-color: #2950c2;
}

.choices-container:active {
  background-color: #ffc700;
}
/* timer */
#timer-container {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  display: none;
  max-width: 600px;
}

#timer-container .result-title {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#timer-container .result-text {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 32px;
}

.result-text-info-container p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#timer-container .result-text-info-container {
  background: #1c2741;
  border-radius: 6px;
  padding: 15px 12px;
  margin: 22px auto;
}
#timer-container > h2 {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3bde7c;
  margin-top: 35px;
}

#timer .timer-text {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3bde7c;
}
#timer .timer-minutes {
  font-size: 24px;
}

#call-now-button {
  background: #eb1b00;
  border-radius: 5px;
  color: #fff;
  padding: 34px 15px 14px 0;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  transition: background-color 0.2s ease-in-out;
  text-align: left;
  margin: 10px auto;
}

#call-now-button:hover {
  background-color: #740f02;
}

.phone-icon {
  margin: 0 16px 15px;
  float: left;
}

.latin-text {
  position: absolute;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  bottom: -50px;
}

#output {
  display: none;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  white-space: pre-wrap;
  background-color: #dadada13;
  border-radius: 15px;
}
#loader-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.loader {
  background: url("../img/loader.svg");
  width: 65px;
  height: 65px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader-container h3 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 38px;
  margin-top: 35px;
}

#loader-container p {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.05em;
  max-width: 500px;
  margin-top: 27px;
}

@media screen and (max-width: 760px) {
  body {
    font-size: 14px;
    background: url("../img/rain_bk2.png");
  }

  header {
    padding: 0 15px;
    display: block;
  }

  /* mobile burger menu */
  .burger-menu {
    display: flex;
    cursor: pointer;
    height: 46px;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 20px;
    margin-top: 14px;
  }

  .burger-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dadada92;
    transition: all 0.3s ease-in-out;
  }

  .burger-icon span:nth-child(1) {
    transform-origin: left;
  }

  .burger-icon span:nth-child(2) {
    opacity: 1;
  }

  .burger-icon span:nth-child(3) {
    transform-origin: left;
  }

  .burger-icon._active span:nth-child(1) {
    transform: rotate(45deg);
    background-color: #ffc700;
  }

  .burger-icon._active span:nth-child(2) {
    opacity: 0;
  }

  .burger-icon._active span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #ffc700;
  }

  .burger-icon._active {
    position: absolute;
    right: 13px;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header-nav._active,
  .header-nav ul {
    display: block;
  }

  .header-menu li {
    margin: 27px 0;
    text-align: left;
  }
  h1 {
    width: 252px;
  }
  .banner-container img {
    max-width: 180px;
  }

  .choices-container {
    width: 100%;
  }

  .quote {
    max-width: 248px;
    margin: 17px auto 0;
  }

  .info-container,
  .footer-container {
    padding: 0 12px;
  }

  .info-text {
    font-size: 16px;
    margin-top: 38px;
    text-align: left;
  }

  .info-container img {
    width: 232px;
  }

  .info-btn {
    margin-bottom: 0;
  }
  .footer-container {
    height: 100vh;
  }
  .footer-btn {
    right: 40%;
    left: 20%;
  }

  .footer-container > p {
    max-width: 262px;
  }
  #question {
    margin-top: 28px;
    font-size: 19px;
  }

  #loader-container h3 {
    font-size: 23px;
    max-width: 237px;
  }

  #loader-container p {
    font-weight: 400;
    font-size: 14px;
    max-width: 276px;
  }

  #timer-container .result-title {
    font-size: 15px;
  }

  #timer-container .result-text {
    font-size: 14px;
    margin-top: 12px;
  }

  .result-text-info-container p {
    font-size: 8px;
  }
  #timer-container .result-text-info-container {
    margin: 12px auto;
    max-width: 256px;
  }
  #timer-container > h2 {
    font-size: 18px;
    margin-top: 22px;
  }

  #timer .timer-text {
    font-size: 11px;
  }
  #timer .timer-minutes {
    font-size: 20px;
  }

  #call-now-button {
    margin: 0 auto;
  }
}
